header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/Klaipeda-Old-Town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #272044;
  max-width: 100%;
}

header h1 {
  font-weight: 900;
  font-size: 96px;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  margin-top: -50px;
}
a {
  color: #ffffff;
  display: block;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  color: white;
  padding: 40px;
}

.container {
  background-color: white;
  margin: 0px auto;
  max-width: 1500px;
}

.header-container {
  padding: 286px 290px;
}

.row-initial-city-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 170px;
}

.column-initial-city-info {
  max-width: 500px;
}
.initial-info-img {
  width: 100%;
  height: auto;
}

.city-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
  align-self: stretch;
}
.subheader {
  color: #272044;
  opacity: 0.3;
  letter-spacing: 5px;
}

.header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.places-to-visit {
  background-color: #f8f8f8;
  padding-top: 50px;
}

.gallery-img {
  object-fit: cover;
  width: 370px;
  height: 370px;
  margin: 0 auto;
  transition: 150ms ease-in-out;
}

.gallery-img:hover {
  transform: scale(1.5);
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 0 auto;
}

.gallery-container {
  padding-bottom: 50px;
}

.img-place {
  width: 185px;
  height: 185px;
  object-fit: cover;
}

.place {
  background-color: white;
  max-width: 370px;
  margin: 0 auto;
  padding: 10px;
}

.places {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 20px;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 35px;
    text-align: center;
  }
  header h2 {
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
  }
  header {
    padding: 60px 0;
  }
  .gallery-grid {
    grid-template-columns: 1fr;
  }
  .gallery-img {
    width: 250px;
    height: 250px;
  }
  .places {
    grid-template-columns: 1fr;
  }
  .row-initial-city-info {
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 0 auto;
  }

  .initial-info-img {
    margin: 0 auto;
  }

  .column-initial-city-info {
    text-align: center;
  }

  .header-container {
    padding: 0;
  }
  .img-place {
    display: none;
  }
  .map {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  footer {
    grid-template-columns: 1fr;
  }
}
