header {
  background-image: url("../img/Klaipeda-Old-Town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

body {
  font-family: "Abel", sans-serif;
}

header div {
  font-size: 24px;
}
